{% extends 'base.html' %}
{% load static %}

{% block page %}
  <div class="container-fluid fluid-home text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-2 text-center">
          <i class="fa fa-book fa-icon-home" aria-hidden="true"></i>

        </div>
        <div class="col-md-2 text-center">
          <i class="fa fa-table fa-icon-home" aria-hidden="true"></i>          
        </div>
        <div class="col-md-2 text-center">
          <i class="fa fa-camera-retro fa-icon-home" aria-hidden="true"></i>
        </div>
        <div class="col-md-2 text-center">
          <i class="fa fa-object-group fa-icon-home" aria-hidden="true"></i>
        </div>
        <div class="col-md-2 text-center">
          <i class="fa fa-headphones fa-icon-home" aria-hidden="true"></i>
        </div>
        <div class="col-md-2 text-center">
          <i class="fa fa-cubes fa-icon-home" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Linkplace - Marketplace de Produtos Digitais</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Compre e venda ebooks, templates para site, planilhas, fotos, áudio e muito mais, de um jeito rápido e fácil!</h4>
        </div>
      </div>
      {% if not user.is_authenticated %}
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <a href="{% url 'register' %}"><button class="btn btn-default btn-primary btn-cadastrar-home" id="btn-cadastrar-home">Cadastrar</button></a>
            <p>Cadastre-se agora e já coloque seus produtos digitais à venda, ou veja os produtos que já temos nas categorias abaixo!</p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="h3-categorias text-center text-uppercase">Categorias</h3>
      </div>
    </div>
    <!-- /.row -->

    <!-- Categorias -->
    <div class="row text-center">
      <a name="categorias">
      {% for category in categories %}
        <div class="col-md-2">
          <div class="thumbnail thumbnail-home">
            <a href="{% url 'show_category' category.slug %}">
              <img src="{{ category.photo.url }}" alt="">
              <div class="caption caption-home">
                <h3>{{ category.name }}</h3>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-12">
        <h3 class="h3-categorias text-center text-uppercase">Produtos em Destaque</h3>
      </div>
    </div>

    <div class="row">
      {% for product in featured_products %}
        <div class="col-md-3">
          <div class="thumbnail thumbnail-product">
            <a href="{% url 'show_product' product.slug %}">
              <img src="{{ product.photo.url }}" alt="">
              <div class="caption text-center caption-product">
                <span class="span-product-price"><em>R$ {{ product.price }}</em></span>
                <h4 class="h4-title-product">{{ product.name|slice:"50" }}</h4>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

    <hr>

  </div>
  <!-- /.container -->
{% endblock %}
