{% extends 'base.html' %}
{% load static %}

{% block page %}
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
      <div class="row">
        <div class="col-md-12">
          <h1>Bem-vindo ao Marketplace Digital!</h1>
          <p>Compre e venda bens digitais com muita facilidade e segurança!</p>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 text-center">
          <p>É criador de conteúdo? Cadastre-se agora e comece a vender!</p>
          <p>
            <a class="btn btn-primary btn-large">Cadastro de Criador</a>
          </p>
        </div>
        <div class="col-md-6 text-center">
          <p>Quer comprar bens digitais? Olhe nossas categorias abaixo e veja o que pode te interessar.</p>
          <p>
            <a class="btn btn-primary btn-large" href="#categorias">Vá para as Categorias</a>
          </p>
        </div>
      </div>

    </header>

    <hr>

    <!-- Title -->
    <div class="row">
      <div class="col-lg-12">
        <h3>Categorias</h3>
      </div>
    </div>
    <!-- /.row -->

    <!-- Categorias -->
    <div class="row text-center">
      <a name="categorias">
      {% for category in categories %}
        <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
            <a href="{% url 'show_category' category.slug %}">
              <img src="{{ category.photo.url }}" alt="">
              <div class="caption">
                <h3>{{ category.name }}</h3>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- /.row -->

    <hr>

  </div>
  <!-- /.container -->
{% endblock %}
