{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>{% block title %}Linkplace - O Marketplace de Produtos Digitais{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="pt-BR">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %}
    {% endblock %}
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Linkplace</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <form class="navbar-form" role="search" action="/pesquisar">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar..." name="q">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
              </form>
            </li>
            {% if user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="fase">
                  {{ user.username }} - Minha conta <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'my_account' %}">Minha Conta</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'create_product' %}">Criar Produto</a></li>
                  {% if user.products %}
                    <li><a href="{% url 'my_products' %}">Meus Produtos</a></li>
                    <li><a href="{% url 'my_sales' %}">Minhas Vendas</a></li>
                  {% endif %}
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'my_purchases' %}">Minhas Compras</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'user_logout' %}">Logout</a></li>
                </ul>
              </li>
            {% else %}
              <li>
                <a href="{% url 'user_login' %}">Fazer Login</a>
              </li>
              <li>
                <a href="{% url 'register' %}">Registrar-se</a>
              </li>
            {% endif %}
          </ul>
        </div>
        <!-- /.navbar-collapse -->


      </div>
      <!-- /.container -->
    </nav>

    {% if messages %}
      <div class="container">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}


    {% block page %}

    {% endblock %}


    <!-- Footer -->
    <div class="container">
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Your Website 2014</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
