{% extends 'base.html' %}
{% load static %}

{% block page %}
  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-lg-12">
        <h3>Meus Produtos</h3>
      </div>
    </div>
    <!-- /.row -->

    <!-- Categorias -->
    <div class="row text-center">
      {% for product in products %}
        <div class="col-md-3">
          <div class="thumbnail thumbnail-my-products">
              <img src="{{ product.photo.url }}" alt="">
              <div class="caption text-center">
                <span class="span-product-price"><em>R$ {{ product.price }}</em></span>
                <a href="{% url 'show_product' product.slug %}"><h4 class="h4-title-product">{{ product.name|slice:"50" }}</h4></a>
                <a href="{% url 'my_product_admin' product.slug %}">
                  <button class="btn btn-default btn-success">Adicionar Arquivos</button>
                </a>
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- /.row -->

    <hr>

  </div>
  <!-- /.container -->
{% endblock %}
