{% extends 'base.html' %}
{% load static %}

{% block page %}
  <div class="container">
    <h1>Resultado da Pesquisa</h1>
    <hr>
    <div class="row">
      {% if products %}
        {% for product in products %}
          <div class="col-md-3">
            <div class="thumbnail thumbnail-category">
              <a href="{% url 'show_product' product.slug %}">
                <img src="{{ product.photo.url }}" alt="">
                <div class="caption text-center">
                  <span class="span-product-price"><em>R$ {{ product.price }}</em></span>
                  <h4 class="h4-title-product">{{ product.name|slice:"50" }}</h4>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12">
          <p>Não encontramos resultados para sua pesquisa.</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
