{% extends 'base.html' %}
{% load static %}

{% block page %}
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>{{ product.name }}</h1>
      </div>
      <div class="panel-body">
        <p>{{ product.description }}</p>
        <p>R$ {{ product.price }}</p>
        <p><img src="/media/{{ product.photo }}" alt=""></p>
        {% if product_files_sample %}
          <h3>Arquivos de Amostra</h3>
          <p>Uma pequena amostra do produto final, acessível para todos, para que você possa comprovar a sua qualidade.</p>
          <ul>
            {% for product_file in product_files_sample %}
              <li><a href="/media/{{ product_file.uploaded_file }}">{{ product_file.name }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if product_files_not_sample %}
          <h3>Arquivos Finais</h3>
          <p>Abaixo, a lista dos arquivos que você recebe ao adquirir este produto:</p>
          <ul>
            {% for product_file in product_files_not_sample %}
              <li>{{ product_file.name }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <a href="{% url 'product_purchase' product.slug %}">
          <button class="btn btn-default btn-primary">Comprar</button>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
