/*
--------------- Paleta de Cores ---------------
Laranja: #FF9900
Cinza Escuro: #424242
Cinza Claro: #E9E9E9
Cinza: #BCBCBC
Azul: #3299BB
------------ Fim da Paleta de Cores -----------


/* --------------- Original Style for Bootstrap Theme ------------ */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
}

.navbar-inverse {
  background-color: #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  padding: 7px 0 7px 0;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: #424242;
}

.img-logo {
  max-width: 200px;
}

body {
    /*padding-top: 50px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Montserrat', sans-serif;
    background-color: #f3f3f3; 
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.td-filename {
  width: 80%;
}

.alert {
  margin-top: 20px;
}

hr {
  border-color: #FF9900;
}

/* Style for Home Page */

.fa-icon-home {
  font-size: 8em;
  padding: 10px 0 10px 0;
}

.thumbnail a>img, .thumbnail>img {
  padding: 30px;
}

.thumbnail-home {
  padding: 0;
  background-color: #E9E9E9;
}

.thumbnail .caption-home {
  background-color: #424242;
  height: 100px;
  color: #FFF;
}

.h3-categorias {
  color: #424242;
  padding: 10px;
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: bold;
  /* border: 1px solid #424242; */
}

.jumbotron h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.jumbotron {
  background-color: #0ABFBC;
  color: #FFF;
}

.fluid-home {
  background-image: url("/static/img/type.png");
  padding-top: 30px;
  padding-bottom: 30px;
  /* background-color: #E9E9E9; */
  font-weight: bold;
  color: #E9E9E9;
}

.img-jumbotron-home {
  max-height: 200px;
  margin: auto;
}

.btn-cadastrar-home {
  font-size: 36px;
  margin: 30px 0 30px 0;
  padding: 20px;
  background-color: #FF9900;
  border-color: #FF9900;
  color: #424242;
}

.btn-cadastrar-home:hover, .btn-cadastrar-home:active {
  background-color: #D98200;
  border-color: #D98200;
  color: #424242;
}

/* Styles for Show Category Page */

.thumbnail-product a>img, .thumbnail-product>img {
  padding: 0;
  height: 320px;
  width: 100%;
  z-index: -1;
}

.thumbnail-product {
  height: 450px;
  background-color: #E9E9E9;
  padding: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
}

.thumbnail .caption-product {
  padding: 0;  
  font-size: 16px;
}

.btn-show-product {
  display: block;
  width: 100%;
  padding: 0;
}



.span-product-price {
  background-color: #FF9900;
  padding: 10px;    
  z-index: 999;
  display: block;
}

.h4-title-product {
  margin-top: 25px;
}

/* Styles for My Products Page */

.thumbnail-my-products a>img, .thumbnail-my-products>img {
  padding: 15px;
  height: 300px;
}

.thumbnail-my-products {
  height: 500px;
}

/* Styles for My Sales Page */

.th-sales-values,  .td-sales-values {
  width: 20%;
  text-align: center;
}

.table-my-sales tfoot {
  background-color: #29221F;
  color: #FFF;
  font-weight: bold;
}

.table-my-sales thead {
  background-color: #FC354C;
  color: #FFF;
}

/* Styles for Show Purchase Page */

.table-arquivos-compra td {
  width: 50%;
  vertical-align: middle;
}


/* Styles for Show Product Page */

.panel-show-product {
  margin-top: 20px;
}

.span-price-value {
  font-size: 24px;
  color: #FF9900;
}

.span-price-text {
  font-size: 24px;
  color: #424242;
}

.btn-buy {
  font-size: 24px;
  background-color: #FF9900;
  padding: 15px;
  border-color: #FF9900;
  width: 100%;
}

.btn-buy:hover {
  background-color: #D98200;
  border-color: #D98200;
}

.well-filelist h3 {
  margin-top:0;
}

.well-filelist {
  margin-top: 0;
}

.img-product {
  max-height: 350px;
  margin-top: 20px;
}

.p-about-author {
  text-align: justify;
}

/* Styles for Purchase Confirmation Page */

.td-confirmacompra-col1 {
  width: 30%;
}

/* Styles for Register Page */

.strong-porqueregistrar {
  color: #3299BB;
}