{% extends 'base.html' %}
{% load static %}

{% block page %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Alterar senha</h1>
        <p>Por favor, informe sua senha antiga, por segurança, e então informe sua nova senha duas vezes para que possamos verificar se você digitou corretamente.</p>

        <form method="post">
          {% csrf_token %}
          {{ form.errors }}
          <div class="form-group">
            <label for="id_old_password">Senha antiga:</label> 
            <input autofocus="" id="id_old_password" name="old_password" type="password" required="" class="form-control">            
            {{ form.old_password.errors }}
          </div>

          <div class="form-group">
            <label for="id_new_password1">Nova senha:</label> 
            <input id="id_new_password1" name="new_password1" type="password" required="" class="form-control">            
            {{ form.new_password1.errors }}
            <ul><li>Sua senha não pode ser tão parecida com suas outras informações pessoais.</li><li>Sua senha precisa conter pelo menos 8 caracteres.</li><li>Sua senha não pode ser uma senha habitualmente utilizada.</li><li>Sua senha não pode ser inteiramente numérica.</li></ul>
          </div>

          <div class="form-group">
            <label for="id_new_password1">Confirmação da nova senha:</label> 
            <input id="id_new_password2" name="new_password2" type="password" required="" class="form-control">            
            {{ form.new_password2.errors }}
          </div>

          <div class="form-group">
            <input type="submit" value="Alterar minha senha" class="btn btn-primary" />
          </div>

        </form>
        <a href="{% url 'my_account' %}" class="btn btn-default">Retornar para "Minha Conta"</a>
      </div>
    </div>
  </div>
{% endblock %}