{% extends 'base.html' %}
{% load static %}

{% block page %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Instruções para resetar sua senha enviadas</h1>
        <p>Enviamos para seu email instruções para resetar sua senha e definir uma nova. Você deve recebê-las em alguns instantes.</p>
        <p>Se não tiver recebido o email, confirme se inseriu o email correto e certifique-se que o mesmo não foi para sua caixa de spam.</p>
      </div>
    </div>
  </div>
{% endblock %}
