{% extends 'base.html' %}
{% load static %}

{% block page %}
  <div class="container">
    {% if form.non_field_errors %}
      <div class="alert alert-warning">
        <ul>
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <h1>Cadastre-se</h1>
    <p>Preencha o formulário abaixo para criar sua conta.</p>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <form method="POST">
          {% csrf_token %}

          <div class="form-group">
            <label for="id_username">Nome de Usuário:</label>
            {{ form.username }}
            {{ form.username.errors }}
          </div>

          <div class="form-group">
            <label for="id_first_name">Primeiro nome:</label>
            {{ form.first_name }}
            {{ form.first_name.errors }}
          </div>

          <div class="form-group">
            <label for="id_last_name">Último nome:</label>
            {{ form.last_name }}
            {{ form.last_name.errors }}
          </div>

          <div class="form-group">
            <label for="id_email">Email:</label>
            {{ form.email }}
            {{ form.email.errors }}
          </div>

          <div class="form-group">
            <label for="id_password1">Senha:</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
          </div>

          <div class="form-group">
            <label for="id_password2">Confirme sua senha:</label>
            {{ form.password2 }}
            <script language='javascript' type='text/javascript'>
              function check(input) {
                  if (input.value != document.getElementById('id_password1').value) {
                      input.setCustomValidity('Senhas não são iguais.');
                  } else {
                      // input is valid -- reset the error message
                      input.setCustomValidity('');
                  }
              }
            </script>
            {{ form.password2.errors }}
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success">Registrar</button>
          </div>
        </form>

        <p>Já está cadastrado? <a href="{% url 'user_login' %}">Clique aqui para fazer login.</a></p>
      </div>
    </div>


  </div>

  <script language='javascript' type='text/javascript'>
    function check(input) {
      if (input.value != document.getElementById('password').value) {
        input.setCustomValidity('Password Must be Matching.');
      } else {
        // input is valid -- reset the error message
        input.setCustomValidity('');
      }
    }
  </script>
{% endblock %}
